body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #000000, #302e2e);
    text-align: center;
    padding: 50px;
    color: #fafafa;
}
.birthday-img {
    max-width: 450px;
    width: 100%;
    margin: 20px auto;
    border-radius: 25px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}



h1 {
    font-size: 42px;
    margin-bottom: 10px;
    color: #fff;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.3);
}
p {
    font-size: 20px;
    margin-bottom: 25px;
    color: #fff;
}



li {
    font-size: 20px;
}

ul {
    list-style: none;
}

.btn {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 25px;
    background: #1a1a1a;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-size: 18px;
}

.btn:hover {
    background: #ff1e38;
}

.center {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
}
